body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  a{
    text-decoration : none; 
    cursor : default; 

  }



  .layout {
    display: flex;
    min-height: 100vh;
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 10px 20px;
    font-size : 13px;
  }
  
  .sidebar {
    width: 200px;
    background-color: black;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin : 5px;
    color : white;
  }
  .sidebar a:visited {
    color: white;
  }
  .sidebar a:hover {
    color : lightgray;
  }

  .sidebar li {
    margin-bottom : 20px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }

  .sign-button {
    color: black;
    background-color: red;
    border : 5px;
  }

  .navbarbutton {
    display : flex;
    justify-content : flex-end;
    align-items : center;
    gap : 10px;
    margin-left : auto;
    padding : 10px 20px;
  }

  .navbarsignup{
    background-color :red;
  }

  button {
    width: 80px; 
    height: 50px;
    font-size: 14px; 
    color: black;
    border: none; 
    border-radius: 8px; 
    transition: transform 0.2s; 
    display : inline-block; 
    
  }
 .navbar button:hover {
    filter : brightness(0.4);
 }



 .navbar h1 {
    font-size : 25px;
    font-weight : bold;
    color : red;
 }