body{
    margin:0;
    text-align: center; /*이렇게 해서 모두 기본적으로 가운데 정렬*/
}
.title{
    margin-top:50px;
    text-align: center;
    padding:60px;
    color : #333333;
    font-family:Arial,sans-serif;
    margin-bottom:0;
}

.inputCSS{
    margin-top:20px;
    margin-bottom:80px;
    width : 300px;
    height : 30px;
    font-size:20px;
}

.container{
    display:flex;
    justify-content: center;

}

.inner{
    margin : 120px;
    margin-top:0;
    width: 180px;
    font-size:20px;
    height:300px;
    font-family:Arial,sans-serif;
}

.list{
    margin-top:10px;
    width: 200px;
    font-size:16px;
    border:2px solid rgba rgb(206, 236, 255);
    font-family:Arial,sans-serif;
}
.but{
    margin-left:10px;   
    border: none;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    font-weight: 600;
    transition: 0.25s;
    background-color: aliceblue;
    color: #b4e4ee;

}