h1 {
  margin-left: 40px;
}

img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

/* flex 아이템 가운데 정렬 (justify-content) */
.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin: 0 auto;
}

.movie {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.movie-title,
.movie-release-date {
  display: block;
}

.movie-title {
  margin-top: 5px;

  font-size: 90%;
  font-weight: bold;
}

.movie-release-date {
  font-size: 50%;
}
